In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt
from PIL import Image
import reportlab
%matplotlib inline

In [44]:
from reportlab.pdfgen import canvas
from reportlab.lib.units import inch

In [15]:
#input_selected = r'7\ Wonders\ Score\ -\ Iosefa.tsv'
df = pd.read_csv(r'Kevin.tsv', sep = '\t')
df

,Date,Round,Military,Gold,Wonder,Civic,Commercial,Scientific,Guilds,City,Total Score,Rank,Total Players,Left Player,Right Player,Arena
0,7/12/2015,1,16,6,7,15,0,0,16,NaN,60,1,7,Lorelei,Miguel,Brendo's
1,7/12/2015,2,-4,5,3,8,7,7,9,NaN,35,7,7,Ethan,Brendan,Brendo's
2,7/19/2015,1,7,0,3,8,0,36,0,NaN,54,4,5,Ethan,Miguel,Brendo's
3,7/19/2015,2,-3,2,10,3,0,34,0,NaN,46,4,5,Ethan,Iosefa,Brendo's
4,7/19/2015,3,15,1,7,11,0,25,0,NaN,59,1,5,Iosefa,Brendan,Brendo's
5,7/26/2015,1,12,3,10,0,0,33,0,NaN,58,1,5,Iosefa,Lorelei,Sefa's
6,7/26/2015,2,16,6,7,20,5,0,0,NaN,54,2,5,Miguel,Ethan,Sefa's
7,7/26/2015,3,1,2,20,16,4,0,4,NaN,47,3,5,Miguel,Ethan,Sefa's
8,7/28/2015,1,3,1,2,3,9,5,2,9,34,6,8,Iosefa,Nate,Brendo's

In [16]:
games_played = len(df)
games_played

9

In [17]:
avg_rank = df['Rank'].mean()
avg_rank

3.2222222222222223

In [18]:
mode_rank = df['Rank'].mode()
mode_rank

0    1
dtype: int64

In [19]:
avg_rank_norm = df['Rank'].divide(df['Total Players']).mean()
avg_rank_norm

0.5436507936507937

In [20]:
avg_score = df['Total Score'].mean()
avg_score

49.666666666666664

In [21]:
low_score = df['Total Score'].min()
high_score = df['Total Score'].max()

In [22]:
low_score

34

In [23]:
cols = ['Military', 'Gold', 'Wonder', 'Civic', 'Commercial', 'Scientific', 'Guilds', 'City']

In [24]:
# Gives the fraction that each card gives to your overall points each game
df2 = df[cols].divide(df['Total Score'], axis = 'index')
df2
# Which most popularly show up
df2.idxmax(axis = 1).mode()

0    Scientific
dtype: object

In [25]:
df2.idxmax(axis = 1).mode()

0    Scientific
dtype: object

In [26]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1).mode()
freq_strat

0    Scientific
dtype: object

In [206]:
# Tableau20
#tableau = [(31,119,180),(44,160,44)]
colors_tableau10M = [(31,119,180),(44,160,44)]                   
for i in range(len(colors_tableau10M)):
    r, g, b = colors_tableau10M[i]
    colors_tableau10M[i] = (r / 255., g / 255., b / 255.)

In [204]:
colors_tableau10M = [(103,191,92),(255,158,74),(114,158,206),
					(237,102,93),(168,120,110),(162,162,162)]                    
for i in range(len(colors_tableau10M)):
    r, g, b = colors_tableau10M[i]
    colors_tableau10M[i] = (r / 255., g / 255., b / 255.)

In [223]:
from reportlab.pdfgen import canvas

width = 4.75
height = 1.25

def hello(c):
    from reportlab.lib.units import inch

    #Second Example
    #c.setStrokeColorRGB(0,255,0.3) #choose your line color
    #c.line(2,2,2*inch,2*inch)

    #Third Example
    c.setFillColorRGB(44./256,160./256,44./256) #choose fill colour
    c.rect(0, 0, width*inch, height*inch, fill=1)
    
    #First Example - Name
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 24) #choose your font type and font size
    c.drawString(85 - 1*inch,135  - 1*inch,"Kevin Craven") # write your text
    
    #First Example - Mode Rank
    c.setFillColorRGB(255./256,221./256,113./256) #choose your font colour
    c.setFont("Helvetica", 24) #choose your font type and font size
    c.drawString(390 - 1*inch,135 - 1*inch,str(mode_rank[0])) # write your text
    
    #First Example - Avg Rank
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 14) #choose your font type and font size
    c.drawString(300 - 1*inch,105 - 1*inch,("Avg Rank: " + str("{0:.2f}".format(avg_rank)))) # write your text
    
    #First Example - Avg Score
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 14) #choose your font type and font size
    c.drawString(300 - 1*inch,85 - 1*inch,("Avg Score: " + str("{0:.2f}".format(avg_score)))) # write your text
    
    #First Example - High Score
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 14) #choose your font type and font size
    c.drawString(200 - 1*inch,105 - 1*inch,("High Score: " + str("{0:.0f}".format(high_score)))) # write your text
    
    #First Example - Low Score
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 14) #choose your font type and font size
    c.drawString(200 - 1*inch,85 - 1*inch,("Low Score: " + str("{0:.0f}".format(low_score)))) # write your text

    # Games played
    c.setFillColorRGB(256./256,255./256,255./256) #choose your font colour
    c.setFont("Helvetica", 14) #choose your font type and font size
    c.drawString(80 - 1*inch,85 - 1*inch,("Games played: " + str("{0:.0f}".format(games_played)))) # write your text
    
c = canvas.Canvas("kevin.pdf")
c.setPageSize( (4.75*inch, 1.25*inch))

hello(c)
c.showPage()
c.save()

In [67]:
for i in range(len(colors)):
    r, g, b = colors[i]
    colors[i] = r/256.,g/256.,b/256.

In [69]:
colors[0][0]

0.0036163330078125

In [72]:
test0= 75/256
test1= 116/256
test2=156/256
c.setFillColorRGB(test0,test1,test2)

In [2]:
colors[0]

(0.92578125, 0.3984375, 0.36328125)

In [3]:
(256./256,255./256,255./256)

(1.0, 0.99609375, 0.99609375)

In [9]:
type((237./256,102./256,93./256))

tuple

In [5]:
colors = [(237,102,93),(255,158,74),(168,120,110), # Military, Red. Gold, Orange. Wonder, Brown.
			(114,158,206),(205,204,93),(103,191,92), # Civic, Blue. Commerce, Yellow. Scientific, Green.
						(173,139,201),(162,162,162)] # Guilds, Purple, Cities, Grey. 		                 
for i in range(len(colors)):
    r, g, b = colors[i]
    colors[i] = (r / 256., g / 256., b / 256.)

In [8]:
type(colors[0])

tuple

In [10]:
colors[1]

(0.99609375, 0.6171875, 0.2890625)

In [35]:
type(10./256)

float

In [37]:
255/256.,158/256.,74/256.

(0.99609375, 0.6171875, 0.2890625)

In [27]:
freq_strat

0    Scientific
dtype: object

In [30]:
freq_strat[0] == 'Scientific'

True

In [29]:
type(freq_strat)

pandas.core.series.Series

In [56]:
# Color code by frequency strategy. Tableau 10 Medium.
colors = [(237,102,93),(255,158,74),(168,120,110), # Military, Red. Gold, Orange. Wonder, Brown.
			(114,158,206),(205,204,93),(103,191,92), # Civic, Blue. Commerce, Yellow. Scientific, Green.
						(173,139,201),(162,162,162)] # Guilds, Purple, Cities, Grey. 		                 
for i in range(len(colors)):
    r, g, b = colors[i]
    colors[i] = r/256.,g/256.,b/256.

In [61]:
type(colors[0])

tuple

In [62]:
type(0.92578125), type(0.3984375), type(0.36328125)

(float, float, float)

In [57]:
c = canvas.Canvas("kevin.pdf")
c.setPageSize( (4.75*inch, 1.25*inch))
c.setFillColorRGB(colors[0]) #choose fill colour
c.rect(0, 0, width*inch, height*inch, fill=1)

TypeError: setFillColorRGB() takes at least 4 arguments (2 given)

In [49]:
c.setFillColorRGB(0.92578125, 0.3984375, 0.36328125)

In [50]:
0.92578125, 0.3984375, 0.36328125)

TypeError: type() argument 1 must be string, not float

In [88]:
df = pd.read_csv(r'7 Wonders Score - Cristina.tsv', sep = '\t', 
    skipfooter = 16, skip_blank_lines = True, engine = 'python')
df

,Date,Round,Military,Gold,Wonder,Civic,Commercial,Scientific,Guilds,City,Total Score,Rank,Total Players,Left Player,Right Player,Arena
0,7/12/2015,1,-4,2,3,0,2,28,25,NaN,56,2,7,Brendan,Ethan,Brendo's
1,7/12/2015,2,16,6,10,0,0,11,12,NaN,55,2,7,Iosefa,Ethan,Brendo's
2,7/28/2015,1,-3,6,12,8,0,1,0,5,29,7,8,Brendan,Iosefa,Brendo's
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
len(df)

12

In [91]:
df = pd.read_csv(r'7 Wonders Score - Miguel.tsv', engine = 'python', sep = '\t', 
    skipfooter = 16, skip_blank_lines = True)
df.head()

,Date,Round,Military,Gold,Wonder,Civic,Commercial,Scientific,Guilds,City,Total Score,Rank,Total Players,Left Player,Right Player,Arena
0,7/12/2015,1,-5,5,10,16,9,1,0,NaN,36,6,7,Kevin,Iosefa,Brendo's
1,7/12/2015,2,2,8,5,30,0,1,18,NaN,64,1,7,Lorelei,Brendan,Brendo's
2,7/19/2015,1,-6,5,10,24,0,0,10,NaN,43,5,5,Kevin,Iosefa,Brendo's
3,7/19/2015,2,13,4,20,19,8,0,0,NaN,64,1,5,Brendan,Ethan,Brendo's
4,7/19/2015,3,8,2,15,9,0,10,0,NaN,44,4,5,Brendan,Ethan,Brendo's

In [105]:
df = pd.read_csv(r'7 Wonders Score - Cristina.tsv', engine = 'python', sep = '\t', 
    skipfooter = 16)
df.dropna(how="all", inplace=True)
df

,Date,Round,Military,Gold,Wonder,Civic,Commercial,Scientific,Guilds,City,Total Score,Rank,Total Players,Left Player,Right Player,Arena
0,7/12/2015,1,-4,2,3,0,2,28,25,NaN,56,2,7,Brendan,Ethan,Brendo's
1,7/12/2015,2,16,6,10,0,0,11,12,NaN,55,2,7,Iosefa,Ethan,Brendo's
2,7/28/2015,1,-3,6,12,8,0,1,0,5,29,7,8,Brendan,Iosefa,Brendo's

In [112]:
df = pd.read_csv(r'7 Wonders Score - Cristina.tsv', engine = 'python', 
	sep = '\t',	skipfooter = 16)
df.dropna(how = 'all', inplace = True)
len(df)

3

In [146]:
df = pd.read_csv(r'7 Wonders Score - Cristina.tsv', engine = 'python', 
	sep = '\t',	skipfooter = 16)
df.dropna(how = 'all', inplace = True)

In [124]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index')
freq_strat

,Military,Gold,Wonder,Civic,Commercial,Scientific,Guilds,City
0,-0.071429,0.035714,0.053571,0.000000,0.035714,0.500000,0.446429,NaN
1,0.290909,0.109091,0.181818,0.000000,0.000000,0.200000,0.218182,NaN
2,-0.103448,0.206897,0.413793,0.275862,0.000000,0.034483,0.000000,0.172414

In [125]:
freq_strat.idxmax(axis = 1)

0    Scientific
1      Military
2        Wonder
dtype: object

In [130]:
len(freq_strat.idxmax(axis = 1).mode())

0

In [131]:
len(freq_strat) = 0

False

In [133]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1).mode()
len(freq_strat)

0

In [135]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1)[0]
freq_strat

'Scientific'

In [147]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1).mode()
# If there is a tie, the mode won't be found.
if len(freq_strat) == 0:
	freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1)

In [150]:
freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1).mode()
# If there is a tie, the mode won't be found.
if len(freq_strat) == 0:
	freq_strat = df[cols].divide(df['Total Score'], axis = 'index').idxmax(axis = 1)

In [152]:
freq_strat[0]

'Scientific'